body {
    background-color: rgb(29, 29, 29);
}

.img-logo {
    height: 50px;
}

a.nav-link.active.text-white.fw-bold {
    background-color: goldenrod;
    /* opacity: 0.6; */
}

.custom-video {
    max-width: 100%;
}

.carousel-image {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 100%;
    width: 100%;
}

.rated {
    color: gold;
}

.footer {
    color: black;
    background-color: goldenrod;
    font-size: 0.8rem;
}